/* Blue Screen of Death color scheme */
:root {
  --background: #0000AA;
  --foreground: #FFFFFF;
  --accent: #AAAAAA;
}

/* JetBrains Mono font */
body {
  font-family: "JetBrains Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
}

code,
kbd {
  font-family: "JetBrains Mono", Monaco, Consolas, "Ubuntu Mono", monospace !important;
}
